.pos {
  font-family: "Times New Roman", Times, serif;
}

.pos-receipt .pos-receipt-logo {
  max-height: 10em;
}

.pos .header-cart-button {
  height: 35px !important;
  padding: 5px;
}

.pos .actionpad {
  min-width: 40%;
}