.pos-branding {
  max-width: 100px;
}

.pos-logo {
  width: 50%;
  height: 100% !important;
  margin: 0px !important;
}

.summary-order {
  margin: 5px;
  font-weight: bolder;
}

.summary-order .dropdown-item {
  font-weight: 900 !important;
  font-size: 14px;
}

.summary-order .badge {
  font-size: 14px;
}

.summary-order .dropdown-item {
  padding: 0px !important;
  padding-top: 8px !important;
}

.text-bg-info {
  background: #FF5722 !important;
}