#main_div{
    &.sh_product_info_screen{
        padding: 1em 0em 0em 0em;
        h2{
            font-size: 1.3125rem;font-weight: bold;margin-top: 0px;
            @include media-breakpoint-down(md){
                font-size: 20px;
            }
        }
    }
    @include media-breakpoint-down(md){
        margin-bottom: 40px;
    }
}
.sh_main_screen {
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 30px 0px;
    @include media-breakpoint-down(md) {
        padding: 10px !important;
    }
    > .sh_price_kiosk_mode.o_app_switcher_background{
        @include media-breakpoint-up(xl){
            max-width: 1100px;
            min-width: 800px;
        }
    }
    .sh_price_kiosk_mode {
        &.o_app_switcher_background {
            box-shadow: 0 10px 35px rgba(38, 42, 76, 0.1);
            border-radius: 10px;
            .sh_price_inner_kiosk_mode{
                .alert {
                    padding: 10px;
                    font-size: 16px;font-weight: 500;margin-top: 15px;
                    @include media-breakpoint-down(lg){
                        font-size: 15px;
                        
                    }
                }
                .sh_mrp_kiosk_button_done.btn.btn-primary.btn-lg:focus {
                    border-color: transparent;
                }
                @include media-breakpoint-down(md){
                    .container-fluid {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
            .sh_product_info_heading {
                margin-bottom: 15px;
                font-weight: bold;
                font-size: 20px;
            }
            .form-group input.form-control#code {
                font-size: 16px;height: 46px;
                padding: 10px 16px;
                line-height: 1.3333333;
                border-radius: 6px;
                &:focus,&:hover{
                    box-shadow: 0 0 0 0.25rem rgba(221, 219, 232, 0.25);border-color: $o-brand-primary;
                }
            }
        }
        text-align: center;
        position: relative;
        background-color: fade-out(white, 0.1);
        margin: auto;
        padding: 2em 2em;
        max-width: 100%;
        width: auto;
        @include media-breakpoint-down(sm) {
            overflow: hidden;
            padding: 1em;
            flex: 1 0 auto;
        }
        @include media-breakpoint-only(lg) {
            padding: 2em 2em;
            width: auto;
            max-width: 900px;
            width: 100%;
            border-radius: 0.2em;
            font-size: 1.2em;
            animation: fadeInDownSmall 0.3s;
        }
        .sh_mrp_kiosk_button_done {
            font-size: 18px;
            margin-bottom: 0rem;
            width: 100%;
            font-weight: 400;
            background: $o-brand-primary;border-color: $o-brand-primary;
            &:hover,
            &:focus{
                background: darken($o-brand-primary, 10%);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .sh_header_part{
            margin-bottom: 1.5rem; align-items: center;
            @include media-breakpoint-only(md){
                margin-top: 1.5rem;
            }
            .col-xxl-4.col-xl-4.col-lg-4.col-md-12.col-sm-12.col-xs-12{
                @include media-breakpoint-only(lg){
                    text-align: center !important;
                }
                img#sh_company_logo_img{
                    @include media-breakpoint-up(xxl){
                        overflow: hidden;
                        max-width: 150px;
                    }
                }
            }
            .col-xxl-8.col-xl-8.col-lg-8.col-md-12.col-sm-12{
                @include media-breakpoint-only(lg){
                    text-align: center !important;
                }
            }
        }
        img#sh_company_logo_img {
            overflow: hidden;
            width: 180px;
            @include media-breakpoint-only(lg){
                margin-top: 20px;
            }
            @include media-breakpoint-down(md){
                margin-top: 20px;
            }
        }
        h1#welcome_message {
            font-size: 20px;
            font-weight: 600;text-transform: capitalize;margin-top: 0px;margin-bottom: 0px;
            @include media-breakpoint-down(lg){
                margin-top: 10px;
            }
        }
        table#product_detail_table {
            margin: 0 auto;
            width: 100%;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            & td,
            & th {
                border: 1px solid #dddddd;
                padding: 8px;
            }
            #sh_product_pricelist{
                border: 1px solid #dddddd;
            }
            tr{
                td{
                    padding: 8px;font-size: 15px;
                    .sh_image_box{
                        height: 180px;
                        width: 180px;
                        .sh_product_image{
                            width: 100%;max-width: 100%;object-fit: cover;
                        }
                    }   
                }
                &:nth-child(even){
                    background-color: #fafafa;
                }
            }
        }
        .softkeys__btn {
            font-size: 1em;
            padding: 0 0.8em;
            @include media-breakpoint-down(md){
                font-size: 1.2em;
            }
        }
    }
}


