.pos {
	.receipt-screen.screen {
		.top-content {
			.top-content-center.hide-top-content-center {
				display: none;
			}
		}
	}
	.sh_z_report_modal_dialog_popup {
		.sh_print_statement_option {
            @include media-breakpoint-down(md) {
                display: block;
                margin: 10px 0px;
                padding: 0px;
            }
			.sh_custom_radio_btn {
				display: flex;
				align-items: center;
				justify-content: center;
                @include media-breakpoint-down(md) {
                    margin: 10px 0px;
                    padding: 0px;
                }
				[type="radio"] {
					&:checked {
						position: absolute;
						left: -9999px;
						+ {
							label.sh_print_lbl {
								position: relative;
								padding-left: 28px;
								cursor: pointer;
								display: inline-block;
								color: #4A4F59;
								font-size: 16px;
								line-height: 16px;
								&:before {
									content: '';
									position: absolute;
									left: 0;
									top: 0;
									width: 18px;
									height: 18px;
									border: 1px solid #b7b7b7;
									border-radius: 100%;
									background: #fff;
								}
								&:after {
									opacity: 1;
									-webkit-transform: scale(1);
									transform: scale(1);
								}
							}
						}
					}
					+ {
						label.sh_print_lbl {
							&:after {
								content: '';
								width: 10px;
								height: 10px;
								background: $o-brand-primary;
								position: absolute;
								top: 4px;
								left: 4px;
								border-radius: 100%;
								-webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
								transform: scale(0);
								opacity: 0;
							}
						}
					}
				}
			}
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 0px;
			.sh_receipt_div.sh_custom_radio_btn {
				margin-left: 15px;
			}
		}
		.sh_custom_radio_btn {
            @include media-breakpoint-down(md) {
                margin: 10px 0px;
                padding: 0px;
            }
			[type="radio"] {
				&:not(:checked) {
					position: absolute;
					left: -9999px;
					+ {
						label.sh_print_lbl {
							position: relative;
							padding-left: 28px;
							cursor: pointer;
							display: inline-block;
							color: #4A4F59;
							font-size: 16px;
							line-height: 16px;
							&:before {
								content: '';
								position: absolute;
								left: 0;
								top: 0;
								width: 18px;
								height: 18px;
								border: 1px solid #b7b7b7;
								border-radius: 100%;
								background: #fff;
							}
							&:after {
								content: '';
								width: 10px;
								height: 10px;
								background: $o-brand-primary;
								position: absolute;
								top: 4px;
								left: 4px;
								border-radius: 100%;
								-webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
								transform: scale(0);
								opacity: 0;
							}
						}
					}
				}
			}
		}
	}
	.sh_z_report_posted_session_modal_dialog_popup {
		.sh_print_statement_option {
            @include media-breakpoint-down(md) {
                display: block;
                margin: 10px 0px;
                padding: 0px;
            }
			.sh_custom_radio_btn {
				display: flex;
				align-items: center;
				justify-content: center;
                @include media-breakpoint-down(md) {
                    margin: 10px 0px;
                    padding: 0px;
                }
				[type="radio"] {
					&:checked {
						position: absolute;
						left: -9999px;
						+ {
							label.sh_print_lbl {
								position: relative;
								padding-left: 28px;
								cursor: pointer;
								display: inline-block;
								color: #4A4F59;
								font-size: 16px;
								line-height: 16px;
								&:before {
									content: '';
									position: absolute;
									left: 0;
									top: 0;
									width: 18px;
									height: 18px;
									border: 1px solid #b7b7b7;
									border-radius: 100%;
									background: #fff;
								}
								&:after {
									opacity: 1;
									-webkit-transform: scale(1);
									transform: scale(1);
								}
							}
						}
					}
					+ {
						label.sh_print_lbl {
							&:after {
								content: '';
								width: 10px;
								height: 10px;
								background: $o-brand-primary;
								position: absolute;
								top: 4px;
								left: 4px;
								border-radius: 100%;
								-webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
								transform: scale(0);
								opacity: 0;
							}
						}
					}
				}
			}
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 0px;
			padding-top: 20px;
			.sh_receipt_div.sh_custom_radio_btn {
				margin-left: 15px;
			}
		}
		.sh_selection_lbl {
			font-size: 15px;
			margin-right: 5px;
			font-weight: bold;
		}
		.main_div_sh_statement {
			.sh_session_selection {
				border: 1px solid #d7d7d7;
				background: #fff;
				border-radius: 2px;
				padding: 6px;
				transition: all .5s;
				cursor: pointer;
				width: 50%;
				&:hover {
					border: 1px solid $o-brand-primary;
					outline: none;
				}
				&:focus {
					border: 1px solid $o-brand-primary;
					outline: none;
				}
			}
		}
		.sh_custom_radio_btn {
            @include media-breakpoint-down(md) {
                margin: 10px 0px;
                padding: 0px;
            }
			[type="radio"] {
				&:not(:checked) {
					position: absolute;
					left: -9999px;
					+ {
						label.sh_print_lbl {
							position: relative;
							padding-left: 28px;
							cursor: pointer;
							display: inline-block;
							color: #4A4F59;
							font-size: 16px;
							line-height: 16px;
							&:before {
								content: '';
								position: absolute;
								left: 0;
								top: 0;
								width: 18px;
								height: 18px;
								border: 1px solid #b7b7b7;
								border-radius: 100%;
								background: #fff;
							}
							&:after {
								content: '';
								width: 10px;
								height: 10px;
								background: $o-brand-primary;
								position: absolute;
								top: 4px;
								left: 4px;
								border-radius: 100%;
								-webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
								transform: scale(0);
								opacity: 0;
							}
						}
					}
				}
			}
		}
	}
}