/* Screen */
.pos .numpad{
    max-width: 50% !important;
}
.screen .button.next.validation{
    margin: 5px;
}
.disabled-mode, .disabled-mode:hover {
    background: rgb(211, 211, 211) !important;
    color: rgb(54, 54, 54) !important;
    cursor: not-allowed;
}
.fa-medkit, .pharma-order-options, .pos .order .order-empty, .pos .actionpad .button{
    color: #006f74;
}
.wk_popup{
    display: flex;
    flex-direction: column;
    min-height: 10%;
    max-height: 70%;
    min-width: 50%;
    font-weight: normal !important;
    border-radius: 10px;
    font-size: 16px;
}
.wk_popup header{
    font-size: 30px;
    font-weight: bold;
    color: #006f74;
}
.wk_popup .footer .button{
    margin-bottom: 0.5%;
}
.product-info-block{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap: wrap;
    font-size:larger; 
    line-height:1.6rem;
    height: auto;
    width: 72%;
    font-size: 12px;
}
.product-info-line, .product-info-url{
    display: none;
    width: 50%;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.product-info-url{
    display: flex;
    color: #116e6a; 
    text-decoration: underline
}
.product-info-block .product-info-line:nth-of-type(-n+4) {
    display: block;
}
.show-pads{
    display: none;
    font-size: 30px;
    border-top: 1px solid rgb(139, 133, 133);
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    color: #006f74;
    background-color: #e2ecec;
}

/* uom options popup */
.uom-options-popup{
    min-width: 100px;
}
.uom-options-popup header{
    border-bottom: 1px solid black;
}
.active_uom{
    border: 3px solid green !important;
}
.uom_popup_body{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(122px, 1fr));
    padding: 3px;
    gap: 5px;
    overflow: auto;
}
.uom_popup_body .uom_line{
    position:relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 90px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}
.uom_line_qty{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #9aadad;
    padding: 5px;
    border-radius: 5px;
}

/* advance search popup */
.advance_med_body{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-align: left;
}
#clear-advance-search{
    min-width: 160px;
}
.search-section{
    display: flex; 
    flex-direction:column; 
    justify-content:center; 
    width: 80%;
    margin:15px 0 0 10%;
    border: 1px solid rgb(109, 219, 219);
    border-radius: 3px;
}
.search-box{
    display:flex;
    flex-flow:row wrap; 
    width:100%; 
}
.tags-block{
    display:flex;
    flex-flow:row wrap;
    max-width:100%; 
    height:100%;
    margin: 5px 0;
}
.search-box .wk-badge{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 5px;
    border: 0.5px solid black;
    display: inline-flex;
    padding: 5px 10px;
    background-color: rgb(208, 241, 245);
    font-size: 15px;
    border-radius: 5px;
    transition: background .1s ease;
}
.tags-block .fa-close{
    float:right; 
    cursor:pointer; 
    margin:1px 0 0 6px;
}
.pos .popup .body .search-section ul{
    margin-left: 0;
}
.pos .popup .search-box input:focus,
.pos .advance_med_body .popup-input.active {
    outline: none;
    box-shadow: none;
    margin: 0px;
    height: 100%;
}
.pos .popup .search-box input{
    outline: none;
    box-shadow: none;
    border: none;
    margin: 0px;
    height: 100%;
    min-width: 10%;
    max-width: 100%;
    flex: 1;
    padding: 8px;
}
.search-options{
    width:100%; 
    margin-top:5px;
    overflow: scroll;
    display: none;
}
.search-options li{
    height:30px; 
    width:100%; 
    cursor:pointer; 
    padding: 4px;
    margin: 2px 0;
    margin-left: 5px;
    border-radius: 5px;
}
.search-options li:hover{
    background-color: rgb(208, 241, 245);
}

/* Medicine Product Info Popup */
/* .pos #med_info::-webkit-scrollbar-thumb, .pos #med_info::-webkit-scrollbar{
    display: none;
} */
#med_info .info-card{
    padding: 5px;
    text-align: left;
    width: 99%;
    margin: 0 1% 0 0;
    height: auto;
    position:relative
}
#med_info .info-block{
    overflow:hidden;
    width: 100%;
    line-height: 2rem;
    max-height: 60px;
    margin-bottom: 20px;
}
#med_info .show-more,#med_info .show-less{
    position:absolute;
    right:5%;
    bottom:-10px;
    color: #006f74;
    cursor: pointer;
}
#med_info .show-less{
    display: none;
    bottom:0px;
}
.horizontal_bar{
    display:flex;
    min-width: 98%;
    height: 45px;
    margin: 0 1%;
    flex-direction:row;
}
#head_bar{
    display:flex;
    width: 100%;
    height: 44px;
    flex-direction:row;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    font-weight: bold;
    color: #a6a8ad;
}
.section-line{
    width: unset;
    border-top: solid #006f74 2px;
    opacity: 50%;
    margin: 1% 2%;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.section-body .info-title{
    color: #006f74;
    text-align: left;
    margin-left: 5px;
}
.fa-angle-left, .fa-angle-right{
    font-size: larger;
    margin: 5px 4px;
    font-size: 30px;
    color: #006f74;
}
.section-title-title{
    /* max-width: max-content; */
    /* margin: 5px 0 0 5px; */
    margin-left: 5px;
    font-size: 22px;
    font-weight: bold;
}
.sub-heading{
    color: #4f585e;
}
.section{
    display: flex;
    flex-direction: column;
}
#med_info .section-title{
    display: flex;
    margin: 2% 0 0 2%;
}
.icon{
    margin: 5px 0;
    font-size: larger;
    font-weight: normal;
}
.heading{
    min-width:max-content;
    margin: 7px 10px 0 10px;
    height: 80%;
}
.section-body{
    margin: 5px 0 0 10px;
    color: #4A4F59;
    line-height: 1.6rem;
    padding: 5px;
    text-align: left;
}
.section-body li{
    padding: 5px;
    background-color: #e2ecec;
}
#med_info .active{
    border-bottom : 3px solid #006f74;
    color : #006f74;
}

/* Alternate Medicine Popup */
#alternate_med_popup{
    min-width: 60%;
    font-size: 15px;
}
.alt_med_list_body{
    gap: 2px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #a7a8a8;
}
.alt_med_grid_body{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(122px, 1fr));
    padding: 3px;
    gap: 3px;
    overflow: auto;
}
#alternate_med_popup .product{
    position:relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 150px;
}
#alternate_med_popup .product .product-img{
    background-color: white;
}
#alternate_med_popup .product-img img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
#alternate_med_popup .product-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#alternate_med_popup .product.selected,
#alternate_med_popup .product.selected .price-tag{
    background-color: #006f74;
    color: #e2ecec;
}
#alternate_med_popup .product-info-block .product-info-line:nth-of-type(-n+6) {
    display: block;
    text-align: left;
}

/* Pharmacy Menu Bar */
.pharmacy-menu-bar{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    background: #d8e5eb;
    min-width: 200px;
    max-width: 200px;
}
.pharmacy-menu-bar .control-buttons{
    display: flex;
    flex-direction: column;
}
.pharmacy-menu-bar .control-button{
    margin: 5px;
    color: #006f74;
    padding: 15px;
    border: 1px solid rgb(139, 133, 133);
    font-size: 15px;
}
.pos .actionpad {
    display: flex;
    flex-flow: row wrap;
    gap: 1px;
}
.pos .actionpad .wk_action_button{
    flex: 1;
    font-size: 30px;
    border:none;
}
.pos .actionpad .button.wk_action_button:active{
    border-color: #bfbfbf;
}

/* ORDERlINE */
.orderline{
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 2%;
    border-radius: 10px;
    padding: 5px 5px;
}
.orderline-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    font-size: larger;
    color: #006f74;
}
.active{
    color: green;
    font-weight: bold;
}
.orderline .product-img img{
    width: 70px;
    height: 70px;
    margin: auto;
}
.pos .order .orderline .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pos .order .orderline .info .product-name{
    width: 100%;
}
.pos .order .orderline .info-list{
    margin: 0;
}

/* Pharma Order Options */
.pharma-order-options{
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
    font-size: 50px;
    justify-content: space-around;
    background: white;
    border-bottom: .5px solid #c5c5c5;
}

.prescription-body{
    gap: 1px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #18615c;
    font-size: 20px;
    background: grey;
    margin: 16px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
}
.prescription-line{
    background-color: white;
    padding: 2% 0;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 7px 0;
    background-color: green;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 10px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}
/* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-top-right::before {
    top: 0;
    left: 0;
}
.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}
.ribbon-top-right span {
    left: -7px;
    top: 36px;
    transform: rotate(45deg);
}

/*===================*/
/* WOOBLE VERTICAL
/*===================*/
@-webkit-keyframes wobble-vertical-on-hover {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes wobble-vertical-on-hover {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .wobble-vertical-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  .wobble-vertical-on-hover:hover, .wobble-vertical-on-hover:focus, .wobble-vertical-on-hover:active {
    -webkit-animation-name: wobble-vertical-on-hover;
    animation-name: wobble-vertical-on-hover;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
